#menu-bar{
	display: none;
}

header label {
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;

}


header h1 {
	float: left;
}

header input {
	float: left;
}



.menu {
	position: absolute;
	top:80px;
	left: 0;
	width: 100%;
	height:100vh;
	background: rgba(13,20,86,0.9);


	transition: all 0.5s;

	transform: translateX(-100%);
}

.menu a {
	display:block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	
	padding: 15px;

	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
	background: rgba(6,14,77,0.6);

}


