.fullscreen-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2000;
    min-width: 100%;
    min-height: 100%;
}
 
.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
 

.menu__link:hover {
	background: #E9157F;
}

.menu__link--select {
	background: #E9157F;
}


.banner__img {
		height: 600px;
	}


.our-team {
	text-align: center;
	margin-bottom: 20px;
}


.our-team .container--flex { 
	align-items: flex-start;
}

.our-team__title {
	font-family: 'Raleway', sans-serif;
	color: #E9157F; 
	font-size: 1.2em;
	margin-bottom: 10px;
}

.our-team__img {
	width: 200px;
	height:200px;
	object-fit: cover;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 50%;
}

.our-team__txt {
	padding: 10px;
	font-size: .6em;
}

.banner:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	top: 0;
}
@media screen and (min-width:180px) {
	.banner__content p {
		font-size: .45em;
		font-weight: normal;
	}

	.banner h6 {
		font-size: 1em;
	}

	.banner p {
		font-size: .3em;
	}
}

@media screen and (min-width:320px) {


	.group__title {
		font-size: 2.1em;
		padding: 15px;
	}
	.our-team__img {
		object-fit: cover;
	}

	.our-team__txt {
		padding: 10px;
		font-size: .6em;
	}
	.banner__content p {
		font-weight: normal;
	}
}


@media screen and (min-width:480px) {
	.our-team__img{
		width: 150px;
		height: 150px;
	}
	.banner__img {
		height: 670px;
	}

	.our-team__txt {
		padding: 10px;
		font-size: .8em;
	}
}

@media screen and (min-width:768px) {
	.our-team__img{
		width: 180px;
		height: 180px;
	}

	.banner__img {
		height: 720px;
	}

	.our-team__txt {
		padding: 10px;
		font-size: .9em;
	}

	.group__title {
		font-size: 2.7em;
		padding: 15px;
	}
}

@media screen and (min-width:1024px) {
	.our-team__img{
		width: 170px;
		height: 170px;
	}

	.banner__img {
		height: 800px;
	}

	.our-team__txt {
		padding: 10px;
		font-size: 1.1em;
	}
}

@media screen and (min-width:1600px) {
	.our-team__img{
		width: 210px;
		height: 210px;
	}

	.banner__img {
		height: 950px;
	}
	
	.our-team__txt {
		padding: 10px;
		font-size: 1.1em;
	}
}