
.banner__img {
	height: 600px;
	object-fit: cover;	
}
.menu__link:hover {
	background: #7C1DA2;
}

.menu__link--select {
	background: #7C1DA2;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
.banner:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	top: 0;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2000;
    min-width: 100%;
    min-height: 100%;
}
 
.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


body {
	background: #F9F9F9;
}

.contact-information {
	padding: 10px;
	padding-top: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #000; 
}

.contact-information .column__title {
	font-family:;
	font-weight:;
}

.contact-information [class*="icon-"] {
	font-size: 1.3em;
	margin-right: 7px;
	position: relative;
	top:5px;
}

.contact-information .social-icon {
	justify-content: flex-start;
	margin-bottom: 10px;	
}

.contact-information .social-icon [class*="icon-"] {
	background: #000;
	color: white;
	margin-left: 0;
	margin-right: 15px;
}

.formulario {
	padding: 10px;
	padding-top: 0;
}

.formulario__label, .formulario__input-txt, .formulario__textarea {
	display: block;
	width: 100%;
}


.formulario__input-txt {
	padding: 10px;
	margin-bottom: 10px;
}

.formulario__textarea {
	min-height: 100px;
	min-width: 100%;
	max-width: 100%;
	max-height: 200px;
}

.formulario__btn {
	border: none;
	cursor: pointer;
	font-size: 1em;
}

.main {
	padding-top: 35px;
}

@media screen and (min-width:180px) {
	.contact .container--flex {
	align-items: flex-start;
	}
	.contact-information p{
		font-size: .6em;
	}
	.contact-information {
		border-right: 1px solid #7C1DA2; 
		border-bottom: none;
	}

	.social-icon [class*="icon-"] {
	font-size: .8em;
	width: 25px;
	height: 25px;
	}
	.column__txt2 {
		line-height: 21px;
	}

	.formulario__input-txt {
		padding: 5px;
		margin-bottom: 5px;
	}

	.formulario__textarea {
		min-height: 100px;
		min-width: 100%;
		max-width: 100%;
		max-height: 100px;
	}

	.banner__content {
		top: 74%;
	}

	.banner {
		margin-top: -300px;
		z-index: -1000;
	}
	.banner__img {
		height: 650px;
	}
}

@media screen and (min-width:300px) {
	.contact .container--flex {
	align-items: flex-start;
	}
	.contact-information p{
		font-size: .6em;
	}
	.contact-information {
		border-right: 1px solid #7C1DA2; 
		border-bottom: none;
	}

	.social-icon [class*="icon-"] {
	font-size: .8em;
	width: 25px;
	height: 25px;
	}
	.column__txt2 {
		line-height: 21px;
	}

	.formulario__input-txt {
		padding: 5px;
		margin-bottom: 5px;
	}

	.formulario__textarea {
		min-height: 100px;
		min-width: 100%;
		max-width: 100%;
		max-height: 100px;
	}

	.banner__content {
		top: 74%;
	}

	.banner {
		margin-top: -300px;
		z-index: -1000;
	}
	.banner__img {
		height: 650px;
	}
}

@media screen and (min-width:320px) {
	.contact .container--flex {
	align-items: flex-start;
	}
	.contact-information p{
		font-size: .7em;
	}
	.contact-information {
		border-right: 1px solid #7C1DA2; 
		border-bottom: none;
	}

	.banner__img {
		height: 670px;
	}

	.column__txt2 {
		line-height: 21px;
	}
}


@media screen and (min-width:480px) {
	.contact .container--flex {
	align-items: flex-start;
	}
	.contact-information p{
		font-size: .8em;
	}
	.contact-information {
		border-right: 1px solid #7C1DA2; 
		border-bottom: none;
	}

	.banner__img {
		height: 670px;
	}
}

@media screen and (min-width:768px) {
	.contact-information p {
		font-size:1em;
	}
	.contact-information .column__title {
		font-size: 1.5em;
	}
	
	.banner__img {
		height: 720px;
	}

	.social-icon [class*="icon-"] {
	font-size: 1.3em;
	width: 35px;
	height: 35px;
	}

	.formulario__input-txt {
		padding: 10px;
		margin-bottom: 10px;
	}

	.formulario__textarea {
		min-height: 100px;
		min-width: 100%;
		max-width: 100%;
		max-height: 200px;
	}
    .banner__content p {
    	font-size: 1.6em;
    }
}

@media screen and (min-width:1024px) {
	.contact-information p {
		font-size:1em;
	}
	.contact-information .column__title {
		font-size: 1.5em;
	}

	.banner__img {
		height: 800px;
	}
    .banner__content p {
    	font-size: 1.6em;
    }
}

@media screen and (min-width:1600px) {
	.banner__img {
		height: 1050px;
	}
    .banner__content p {
    	font-size: 1.6em;
    }
}
@media screen and (min-width:1920px) {

	.banner__content p {
		font-size: 2em; 
	}
}
	/*anner__content */

	@media screen and (max-width: 600px) {

    .img-gallery {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 10px;
    }

    .img-gallery img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
@media screen and (max-width: 600px) {

    /* Evita que el banner se suba demasiado */
    .banner {
        margin-top: 0 !important;
    }

    /* La imagen del banner se adapta automáticamente */
    .banner__img {
        height: auto !important;
        min-height: 300px;
        object-fit: cover;
    }

    /* Texto del banner más legible y sin saltarse del espacio */
    .banner__content p {
        font-size: 1.1em !important;
        line-height: 1.3em;
        padding: 0 10px;
    }

    /* Logotipo más pequeño */
    .logo-container img {
        width: 55% !important;
    }

    /* Menú móvil dinámico, sin altura fija */
    .menu {
        height: auto !important;
    }

    .mostrar {
        height: auto !important;
    }

    /* Reduce espacios grandes entre secciones */
    .main {
        padding-top: 10px;
    }

    /* Galería: columnas más grandes para que no queden tan pequeñas */
    .img-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        gap: 15px;
    }

    /* Texto de párrafos */
    .llama {
        font-size: 1em !important;
        line-height: 1.3em;
        padding: 0 10px;
    }
}
