.fullscreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2000;
  min-width: 100%;
  min-height: 100%;
}
 
.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.menu__link:hover {
	background: #FFC100;
}

.menu__link--select {
	background: #FFC100;
}

.banner {
  margin-bottom: 20px;
}

.banner__img {
	height: 600px;
	object-fit: cover;	
}


.banner:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	top: 0;
}

body {
	background: #F9F9F9;
}


.video {
  padding: 0px;  
}


.section__titulo {
  font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 4.7em;
  line-height: 70px;
  margin-bottom: 37px;
  color: #9B9990;
}

h4 {
  font-size: 3.6em;
  padding-top: 40px;
  padding-left: 25px;

}

.info__txt {
  font-size: .8em;
  text-align: center;
}

.info__titulo {
  font-size: .3em;
  text-align: center;
  padding-top: 15px;
  text-align: center;
}
.cursos__txt {
  font-size: .2em;
  padding-left: 25px;
}

.info__columna {
  background: rgba(0,0,0,1);
  color: white;
  padding: 15px;
  margin-bottom: 30px;  
}


.cursos__columna {
  position: relative;
  background: #000;
  color: white;
  padding: 15px;
  margin-bottom: 30px;  
}


.cursos__descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 200;
}

.cursos__titulo {
  font-size: 1.3em;
  margin:5px 0;
  margin-top: 5px;
}

.contenedor {
  margin:auto;
  width: 90%;
  object-fit: cover;
} 

.contenedor h2 {
  font-size: .8em;
}
.video {
  width: 100%;
  height: 100%;
}

@media screen and (min-width:180px) {
  .section__titulo {
    font-size: 3.5em;
    line-height: 50px;
    margin-bottom: 37px;
    width: 100%
  }
  .cursos__txt {
    font-size: .5em;
    padding-left: 25px;
  }

  .cursos__titulo {
    margin-top: 0px;
  }
}

@media screen and (min-width:320px) {
  .section__titulo {
    font-size: 4.8em;
    line-height: 80px;
    margin-bottom: 37px;
    width: 100%
  }
}

@media screen and (min-width:480px) {
	.banner__img {
		height: 670px;
	}
  
  .info, .cursos {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }

  .section__titulo {
    font-size: 4.8em;
    line-height: 80px;
    margin-bottom: 37px;
    width: 100%
  }

  .info__columna {
    width: 32%;
  }

  .info__titulo {
    font-size: 20px;
    margin: 5px 0;
  }
  .cursos{
    flex-wrap: wrap;
    margin-top: 0;
  }


  .cursos__columna {
    width: 49%;
  }
  .cursos__txt {
  font-size: .2em;
  padding-left: 25px;
  }
  .contenedor h2 {
    font-size: .8em;
  }

  .contenedor {
    width: 625px;
  }
}
@media screen and (orientation:landscape) (min-width:480px) {
  .banner__img {
    height: 670px;
  }
  
  .info, .cursos {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }

  .section__titulo {
    font-size: 4.8em;
    line-height: 80px;
    margin-bottom: 37px;
    width: 100%
  }

  .info__columna {
    width: 32%;
  }

  .info__titulo {
    font-size: 20px;
    margin: 5px 0;
  }
  .cursos{
    flex-wrap: wrap;
    margin-top: 0;
  }


  .cursos__columna {
    width: 49%;
  }
  .cursos__txt {
  font-size: .2em;
  padding-left: 25px;
  }
  .contenedor h2 {
    font-size: .8em;
  }

  .contenedor {
    width: 625px;
  }
}
@media screen and (orientation:landscape)(min-width:600px) {
  .contenedor {
    width: 600px;
  }
}
@media screen and (orientation:landscape)(min-width:667px) {
  .contenedor {
    width: 600px;
  }
}
@media screen and (orientation:landscape) (min-width:736px) {
  .banner__img {
    height: 670px;
  }

  .modal h3 {
    color: white;
    font-size: 1.8em;
    text-align: center;
    margin: 15px 0;
  }

  .modal p {
    color: white;
    font-size: 1.8em;
    margin: 15px 0;
    padding: 15px;
  }

  .imagen {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__titulo {
    font-size: 4.8em;
    line-height: 80px;
    margin-bottom: 37px;
    width: 100%
  }

  .info__columna {
    width: 32%;
  }

  .info__titulo {
    font-size: 20px;
    margin: 5px 0;
  }

  .info {
    margin-top: -100px;
  }
  .info__columna {
    width: 32%;
  }

  .info__titulo {
    font-size: 20px;
    margin: 5px 0;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }
    
  .contenedor h2 {
    font-size: .8em;
  }



  .banner h6 {
    font-size: 1.6em;
  }



  .contenedor h6 {
    font-size: 1.3em;
    text-align: center;
  }

  .contenedor {
    width: 500px;
  }
}
@media screen and (min-width:768px) {
	.banner__img {
		height: 720px;
	}

  .cursos__txt {
    font-size: .94em;
    padding-left: 25px;
  }

  .cursos__titulo {
    font-size: 1.8em;
    margin:5px 0;
  }
  .info__txt {
  font-size: .94em;
  }

  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .section__titulo {
    font-size: 5.3em;
    line-height: 117px;
    margin-bottom: 35px;
  }   
  .contenedor {
      width: 700px;
    }
}
@media screen and (orientation:landscape) (min-width:900px) {
  .contenedor {
    width: 700px;
  }

  .banner__img {
    height: 720px;
  }
  .info {
    margin-top: -100px;
  }
  .info__columna {
    width: 32%;
  }

  .info__titulo {
    font-size: 20px;
     margin: 5px 0;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }

  .modal h3 {
    color: white;
    font-size: 2.2em;
    text-align: center;
    margin: 15px 0;
  }

  .modal p {
    color: white;
    font-size: 2em;
    margin: 15px 0;
    padding: 15px;
  }

  .imagen {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    
  .info__txt {
    font-size: .94em;
  }

  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .section__titulo {
    font-size: 5.3em;
    line-height: 117px;
    margin-bottom: 35px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }
}

@media screen and (min-width:1024px) {
	.banner__img {
		height: 800px;
	}

  .cursos__txt {
    font-size: 1.2em;
    padding-left: 25px;
  }

  .cursos__titulo {
   font-size: 2.5em;
    margin:5px 0;
    margin-top: 45px;
  }
  .info__txt {
  font-size: 1.2em;
  }

  .info__titulo {
    font-size: 2.5em;
    margin: 5px 0;
  }

  .section__titulo {
    font-size: 8em;
    line-height: 160px;
    margin-bottom: 45px;
  }
  
  .contenedor {
    width: 1000px;
  }
  .cursos__description {
    display: flex;
    flex: wrap;
  }
  .contenedor h2 {
    font-size: 2em;
  }
}

@media screen and (orientation:landscape)(min-width:1024px) {
  .banner__img {
    height: 800px;
  }

  .cursos__txt {
    font-size: 1.2em;
    padding-left: 25px;
  }

  .cursos__titulo {
   font-size: 2.5em;
    margin:5px 0;
    margin-top: 45px;
  }
  .info__txt {
  font-size: 1.2em;
  }

  .info__titulo {
    font-size: 2.5em;
    margin: 5px 0;
  }

  .section__titulo {
    font-size: 8em;
    line-height: 160px;
    margin-bottom: 45px;
  }
  
  .contenedor {
    width: 1100px;
  }
  .cursos__description {
    display: flex;
    flex: wrap;
  }
  .contenedor h2 {
    font-size: 2em;
  }
}


@media screen and (min-width:1600px) {
	.banner__img {
		height: 950px;
	}


  .cursos__txt {
    font-size: 1.4em;
    padding-left: 55px;
  }

  .cursos__titulo {
    font-size: 3em;
    margin:5px 0;
    margin-top: 2px;
    padding-left: 55px;
  }
   .info__titulo {
    font-size: 50px;
    margin: 5px 0;
  }
  .info__txt {
    font-size: 1.4em;
  }
  .section__titulo {
    font-size: 9em;
    line-height: 200px;
    margin-bottom: 36px;
  }

  .contenedor {
    width: 1400px;
  }
  .contenedor h2 {
    font-size: 2.4em;
  }
}





