@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,600,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap&subset=latin-ext');


* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;

}



/*------------------------------------------ESTILOS BASE-----------------------------------------------*/


img {
	display: block;
	width: 100%;
	max-width: 100%;
}

video {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2000;
    min-width: 100%;
    min-height: 100%;   
}
 
.logo-container img {
	width: 60%;
	object-fit: cover;
}


.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
 


h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	margin: 0;
}

.container {
	width: 100%;
	margin: auto;
}

.container--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.column {
	width: 100%;
}



/*----------------------ESTILOS HEADER----------------------------*/



.main-header {
	width: 100%;
	font-size: .8em;
	line-height: 3px;
}


.main-header__contactInfo__phone {
	background: #000;
	color: white;
	margin: 0 auto;
	padding: 10px;
}

.main-header__contactInfo__address {
	padding: 10px;
	margin: 0;
}
.main-header [class*="icon-"]:before {
	position: relative;
	top: 2px;
	right: 5px;
}

.main-header a {
	color: white;
	padding: 10px;
	font-size: .9em;
	text-decoration: none;
	width: 100%;
	margin: 0;
}

.icon-whatsapp {
	font-size: 16px;
}



/*----------------------ESTILOS MENU----------------------------*/


.main-nav {
	width: 100%;
	position: relative;
	z-index: 2000;
	padding: 10px;
}









.icon-th-list {
	display: block;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	font-size: 1.5em; 	
}

.social-icon {
	display: flex;
	justify-content: space-between;
}

.social-icon [class*="icon-"] {
	color: black;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	width: 35px;
	height: 35px;
	background: white;
	border-radius: 50%;
}

 
.menu li ul {
	display: none;
	
}



.menu li:hover > ul {
	display: block;
	text-decoration: none;
	background: none;
}

ul, ol {
	list-style: none;
	text-align: center;
}




.social-icon__link {
	text-decoration: none;
}

.menu {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.55);
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	height: 0;
	overflow: hidden;
	transition: height .3s linear;
}

.menu__link {
	display: block;
	padding: 15px;
	color:white;
	text-decoration: none;
}

.menu__link:hover {
	background: #060E4D;
	padding:15px;
}

.menu__link--select {
	background: #060E4D;
}
.mostrar {
	height: 354px;
}


/*----------------------ESTILOS BANNER----------------------------*/


.banner {
	margin-top: -170px;
	position: relative;
}

.banner:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	top: 0;
}

.banner__video {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.banner__img {
	height: 600px;
	object-fit: cover;	
}
.banner img {
	max-width: 100%;
}

.banner__content {
	width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1500;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.9em;
	font-weight: bold;
	padding: 10px;
}

.banner__content p {
	
	font-size: .5em;
	font-weight: normal;
}

.banner__content img {
	width: 50%;
	justify-content: center;
}

.slogan img{
	width: 20%;
}




/*----------------------ESTILOS CUERPO----------------------------*/

.group--color .container {
	background: rgba(239,239,239,.5);
	color: #000;
	padding: 10px;
	text-align: center;
}

.main__title {
	margin: 10px 0;
	font-size: 1.8em;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 100;
	line-height: 28px;
}

.main__txt {
	font-size:.8em;
	color: #878484;

}

.column__title {
	font-size: 1.3em;
}


.main__about__description .column:nth-child(2) {
	padding: 10px;	
}

.llama {
	font-size: 2.3em;
	margin: 10px;
	text-align: center;
}
.twitter-timeline {
	align-items: center;
	text-align: center;
	justify-content: center;
}
 
.twitter {
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0;
}

.twitter-follow-button {
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0;
}

.group__title {
	font-size: 2.3em;
	margin: 10px;
	text-align: center;
}
.today-special .column {
	margin-bottom: 20px;
	text-align: center;

}
.today-special__img {
	margin: auto;
	max-width: 350px;

}

.today-special__title {
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
}




/*----------------------ESTILOS FOOTER-----------------------------*/
.main-footer {
	background: rgba(0,0,0,1);
	color: white;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}

.copy {
	text-align: center;
	margin: auto;
	margin-top: 15px;
}


.main-footer [class*="icon-"] {
	color: white;
	text-decoration: none;
}

.main-footer [class*="icon-"]: before {
	position: relative;
	top: 3px;
	right: 5px;
}

.column__txt a {
	color: white;
}

/*----------------------ESTILOS RESPONSIVE-----------------------------*/
@media screen and (min-width:180px) {

   .main-header__contactInfo__phone {
        background: none;     
    }
    
    .banner {
		margin-top: -300px;
		z-index: -1000;
	}
    .main-header__contactInfo__address {
        color: white;  
    }

    .main-header__contactInfo {
		text-align: right;
		padding:0px;
		margin: 0px;
	}

	.logo-container img {
		width: 90%;
		object-fit: cover;
	}

	.column--50 {
		width: 49%;
	}

	.banner__content {
		top: 74%;
	}

	.column__title {
		font-size: 1em;
	}

	.column__txt {
		font-size: .8em;
	}
	.group__title {
		font-size: 1.6em;
	}
	.banner__content img {
		width: 80%;
		justify-content: center;
	}

	.slogan img{
		width: 78%;
	}

}

@media screen and (min-width: 180px) {
	.banner__content p {
    	font-size: .3em;
    }

}

@media screen and (min-width:320px) {
	.banner {
		margin-top: -160px;
		z-index: -1000;
	}
	.main-header__contactInfo {
		text-align: right;
		line-height: 1px;
	}
    .banner__content {
		top: 40%;
	}
		
		
   .main-header__contactInfo__phone {
        background: none;     
    }
    
    
    .main-header__contactInfo__address {
        color: white;  
    }

    .banner__content {
		font-size: 2.3em;
    }

    .banner__content p {
    	font-size: .4em;
    }


	.column--50 {
		width: 50%;
	}

	.column--33 {
		width: 30%;
	}

	.main {
		padding-bottom: 15px;
	}



	.column--50-25 {
		width: 49%;
	}

	.main__about__description .column:nth-child(2) {
		padding-left: 20px;
		font-size: .9em;
	}

	.today-special .column {
		border: 5px solid #ddd;
		padding: 5px;
	}


	.today-special__img {
		height: 200px;
		object-fit: cover;
	}
	
	.main-footer .container--flex  {
		align-items: flex-start;
	}

	.main__title {
		font-size: 2em;
		line-height: 32px;
	}

	.main__txt {
		font-size: .8em;
	}

	.banner__video {
		height: 670px;		
	}

	.column__title {
		font-size: 1em;
	}

	.column__txt {
		font-size: .8em;
	}

	.today-special__title {
		font-size: 1.1em;
	}

	.group__title {
		font-size: 1.7em;
		padding: 15px;
	}	


	.logo-container img {
		width: 90%;
		object-fit: cover;
	}
	.banner__content img {
		width: 56%;
		justify-content: center;
	}

	.slogan img{
		width: 50%;
	}
}

@media screen and (min-width:480px) {
	.logo {
		color: white;	
	}

	.banner {
		margin-top: -190px;
		z-index: -1000;
	}

	.main-header__contactInfo {
		text-align: right;
	}
    .banner__content {
		top: 61%;
	}
		
		
   .main-header__contactInfo__phone {
        background: none;     
    }
    
    
    .main-header__contactInfo__address {
        color: white;  
    }

    .banner__content {
		font-size: 2.3em;
    }

    .banner__content p {
    	font-size: .43em;

    }


	.column--50 {
		width: 49%;
	}

	.column--33 {
		width: 30%;
	}

	.main {
		padding-bottom: 15px;
	}

	.main-nav {
		background: rgba(0,0,0,.65);
	}

	

	.column--50-25 {
		width: 49%;
	}

	.main__about__description .column:nth-child(2) {
		padding-left: 20px;
		font-size: .9em;
	}

	.today-special .column {
		border: 5px solid #ddd;
		padding: 5px;
	}


	.today-special__img {
		height: 200px;
		object-fit: cover;
	}
	.main-footer .container--flex  {
		align-items: flex-start;
	}

	.main__title {
		font-size: 2.5em;
		line-height: 38px;
	}

	.main__txt {
		font-size: 1.2em;
	}

	.banner__video {
		height: 670px;		
	}

	.logo-container img {
		width: 90%;
		object-fit: cover;
	}
	.banner__content img {
		width: 84%;
		justify-content: center;
	}

	.slogan img{
		width: 50%;
	}
}
@media screen and (orientation:landscape)(min-width:600px) {
	.banner p {
		font-size: .45em;
	}
}

@media screen and (min-width:768px) {
	.main__title {
		font-size: 2.3em;
		line-height: 48px;
	}
	.main__about__description {
	 	margin-top: 30px;
	}

	.main__about__description .column--50:nth-child(2) {
		font.size: 1em;
	}
	.main__about__description .column--50:nth-child(2) .column__txt {
		line-height: 25px;
	}

	.banner__video {
		height: 720px;
	}


	.main__txt {
		font-size: 1.5em;
	}

	.column--50-25 {
		width: 24.5%;
	}

	.group__title {
		font-size: 2.4em;
	}

	.logo {
		padding: 0px;

	}

	.banner__content {
    	font-size: 2.6em;
    }	


    .banner__content p {
    	font-size: .6em;
    }

    .logo-container img {
		width: 40%;
		object-fit: cover;
	}
	.banner__content img {
		width: 73%;
		justify-content: center;
	}

	.slogan img{
		width: 40%;
	}
}

@media screen and (min-width:1024px) {

	.container {
		width: 1000px;
	}

	.logo {

		padding: 0;
	}


	.main-header__contactInfo__phone,
	.main-header__contactInfo__address {
		padding-right: 0px;
		font-size:1.15em;
	}

	.main-header a {
		padding-right: 0px;
		font-size: 1.15em;
	}

	.main-nav {
		padding: 0;

	}

	.banner__content {
		font-size: 3.1em;
	}

	
	.banner__content p {
		font-size: .6em; 
	}

	.icon-th-list {
        display: none;
	}



	.menu {
		position: static;
		display: flex;
		height: auto;
		width: auto;
	}

	.menu__link {
		padding: 20px;
	}

	.main__title {
		font-size: 2.2em;
	}

	.main__txt {
		font-size: 1.4em;
	}

	.group--color .container {
		margin-top: 30px;
		margin-bottom: 30px;
	}




	.today-special__title {
		font-size: .9em;
	}

	.main-footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.banner__video {
		height: 800px;
	}

	.logo-container img {
		width: 40%;
		object-fit: cover;
	}
	.banner__content img {
		width: 56%;
		justify-content: center;
	}

	.slogan img{
		width: 28%;
	}
}

@media screen and (orientation:landscape)(min-width:1024px) {

	.container {
		width: 1000px;
	}

	.logo {

		padding: 0;
	}


	.main-header__contactInfo__phone,
	.main-header__contactInfo__address {
		padding-right: 0px;
		font-size:1.15em;
	}

	.main-header a {
		padding-right: 0px;
		font-size: 1.15em;
	}

	.main-nav {
		padding: 0;

	}

	.banner__content {
		font-size: 3.1em;
	}

	
	.banner__content p {
		font-size: .56em; 
	}

	.icon-th-list {
        display: none;
	}

	.menu {
		position: static;
		display: flex;
		height: auto;
		width: auto;
	}



	.menu__link {
		padding: 20px;
	}

	.main__title {
		font-size: 2.2em;
	}

	.main__txt {
		font-size: 1.4em;
	}

	.group--color .container {
		margin-top: 30px;
		margin-bottom: 30px;
	}




	.today-special__title {
		font-size: .9em;
	}

	.main-footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.banner__video {
		height: 800px;
	}

	.logo-container img {
		width: 40%;
		object-fit: cover;
	}
	.banner__content img {
		width: 56%;
		justify-content: center;
	}

	.slogan img{
		width: 28%;
	}
}

@media screen and (min-width:1600px) {
	.container {
		width: 1400px;
	}
	
	.main__about__description .column:nth-child(1) video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.today-special__img {
		height: 300px;
	}

	.today-special__title {
		font-size: 1.3em;
	}

	.banner__content {
		font-size: 3.7em; 
	}

	.banner__content p {
		font-size: .56em; 
	}

	.group--color .container {
		margin-top: 30px;
		margin-bottom: 30px;

	}
	.main-footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.banner__video {
		height: 950px;
	}	

	.logo-container img {
		width: 40%;
		object-fit: cover;
	}

	.column__title {
		font-size: 2.1em;
	}

	.column__txt {
		font-size: 1.3em;
	}
}

