@font-face{
  font-family: SF-Pro;
  src: url('SF-Pro.ttf');
}
:root {
    --fondoMenu: #E84000; /* ok*/
    --fondoTextoMenu: #a7b3a5;
    --resalta: #eae3ea;
    --encabezado: #475271;
    --nones: #eb6e80;
    --Color6: #F99320;
    --fondo: #0f1626;
}
*{
  font-family:SF-Pro;
  color: white;
}
*:disabled {
    background-color: dimgrey;
    color: white;
    opacity: 1;
}
*:enabled {
    background-color: #F2EAED;
    color: black;
    opacity: 1;
}

#lineaSuperior {
	text-align:right;
	padding:1px 1px 1px 1px;
	background-color: var(--fondoMenu);
	margin:0px;
}
#lineaMenu {
  text-align:justify;
  padding:1px 1px 1px 1px;
  margin:1px;
/*  background-color:#DE7A22;*/
}
.textoMenu{
  width:95%;
  padding:3px 3px 3px 3px;
  display:inline-block;
  margin:3px;
  border-radius: 25px;
  color: darkblue;
  background: var(--fondoTextoMenu);
}
#divMenu{
  color: white;
}
#idTablaMenu {
  width: 100%;
  background-color:var(--fondoMenu); /*Color de los bordes*/
}
#idTablaMenu th{
  width: 25%;
  background-color:var(--fondoMenu);
  border: none;
}

html {
  background-color: var(--fondo);
  font-family: 'SF-Pro';
  font-weight:normal;
  font-style:normal;
} 
body {
  background-image: url("");  
  background-color: var(--fondo);
  margin: 0;
  padding: 0;
  font-family:SF-Pro;
  font-weight:normal;
  font-style:normal;
}
button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
  border: 2px outset ButtonFace;
  color: white;
  cursor: inherit;
  background-color: #ddd;
  background: #ddd;
}

blk, .blk {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}


.tabla0{
	background-color:  #ebeff5     ;
  vertical-align: bottom;
}
td,tr, table, tbody{
  padding:0px;
  margin:0px;
  border:0px;
  box-sizing: border-box;
  font-family: 'SF-Pro';
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
}

 label {
        display: inline-block;
        width: 90px;
        text-align: right;
      }
.labelNV {
        display: inline-block;
        width: 80px;
        text-align: right;
      }
 #labelOpcion {
        display: inline-block;
        width: 250px;
        text-align: left;
      }

input[type=number].ROnly, input[type=text].ROnly { background: #2980B9; color:#DBF816 }
input[type=text]:read-only {
  background-color: grey;
  color: lightgrey;
  cursor: not-allowed;

}


#elmError{
  background-color: darkblue;
  color: yellow;
  font-weight: bold;
  width: auto;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tablaCatalogo{
  margin-left: auto;
  margin-right: auto;
}
table tbody tr:nth-child(odd) {
  background: var(--fondoTextoMenu);
}
table tbody tr:nth-child(even) {
  background: var(--nones);
  cursor: pointer;
}
table tbody tr{
  cursor: pointer;  
  color: black;
  font-weight: bold;
}

table thead {
  color: #fff;
  font-size: 18px;
}

th {
 top: 0;
   position: sticky;
   background: var(--encabezado);}
thead {
    position: sticky;
    top: 0;
}

#divTabla{
   padding: 0%;
   height: 400px;
   overflow-y: scroll;

}
.select2-container .select2-choice {
    height: 200px!important;
    line-height: 200px!important;
    max-height: 200px;
    min-height: 200px !important;
    color: blue;
}
.select2.select2-container .select2-selection--multiple  .select2-selection__choice {
  background-color: var(--nones);
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
  color: black;
}


.select2-container .select2-dropdown  {
  background: var(--encabezado);
  border: none;
  margin-top: -5px;
  color: black;
}


