@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29763475');
  src: url('../font/fontello.eot?29763475#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?29763475') format('woff2'),
       url('../font/fontello.woff?29763475') format('woff'),
       url('../font/fontello.ttf?29763475') format('truetype'),
       url('../font/fontello.svg?29763475#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29763475#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-wrench:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-down-big:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-right-big:before { content: '\e80e'; } /* '' */
.icon-up-big:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-folder-open:before { content: '\e815'; } /* '' */
.icon-tags:before { content: '\e816'; } /* '' */
.icon-location:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-cog-1:before { content: '\e819'; } /* '' */
.icon-cogs:before { content: '\e81a'; } /* '' */
.icon-pencil-1:before { content: '\e81b'; } /* '' */
.icon-progress-1:before { content: '\e81c'; } /* '' */
.icon-progress-2:before { content: '\e81d'; } /* '' */
.icon-progress-0:before { content: '\e81e'; } /* '' */
.icon-progress-3:before { content: '\e81f'; } /* '' */
.icon-progress-4:before { content: '\e820'; } /* '' */
.icon-progress-5:before { content: '\e821'; } /* '' */
.icon-compass-circled:before { content: '\e822'; } /* '' */
.icon-compass:before { content: '\e823'; } /* '' */
.icon-thumbs-up:before { content: '\e824'; } /* '' */
.icon-thumbs-down:before { content: '\e825'; } /* '' */
.icon-camera:before { content: '\e826'; } /* '' */
.icon-picture:before { content: '\e827'; } /* '' */
.icon-ok:before { content: '\e828'; } /* '' */
.icon-cancel:before { content: '\e829'; } /* '' */
.icon-bookmark:before { content: '\e82a'; } /* '' */
.icon-tags-1:before { content: '\e82b'; } /* '' */
.icon-tag:before { content: '\e82c'; } /* '' */
.icon-right-open-1:before { content: '\e82d'; } /* '' */
.icon-left-open-1:before { content: '\e82e'; } /* '' */
.icon-down-open-1:before { content: '\e82f'; } /* '' */
.icon-up-open-1:before { content: '\e830'; } /* '' */
.icon-vector-pencil:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-flag:before { content: '\e834'; } /* '' */
.icon-videocam:before { content: '\e835'; } /* '' */
.icon-video:before { content: '\e836'; } /* '' */
.icon-flashlight:before { content: '\e837'; } /* '' */
.icon-cog-2:before { content: '\e838'; } /* '' */
.icon-tools:before { content: '\e839'; } /* '' */
.icon-moon:before { content: '\e83a'; } /* '' */
.icon-chart-line:before { content: '\e83b'; } /* '' */
.icon-th-1:before { content: '\e83c'; } /* '' */
.icon-wrench-1:before { content: '\e83d'; } /* '' */
.icon-desktop:before { content: '\e83e'; } /* '' */
.icon-laptop-1:before { content: '\e83f'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */